<script type="text/javascript">
alert("in application..............")
</script>


<!DOCTYPE html>
<html ng-app="contactapp">
<head>
  <title>AngularTrialProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  
</head>
<body>
<%= render 'common/header' %>




 <p class="notice"><%= notice %></p>

       <p class="alert"><%= alert %></p>


 <%= yield %>

 

</body>
</html>
